$primary: #0593ea;
$secondary: #FF4655;

//.MuiToolbar-root {
//  font-weight: 600;
//  .MuiButton-text{
//    .MuiButton-label {
//        font-size: 12px;
//      }  }
//}
.MuiDialog-container .MuiPaper-root{
 border-radius: 10px;
}