$primary: #0593ea;
$secondary: #ff4655;

//.MuiToolbar-root {
//  font-weight: 600;
//  .MuiButton-text{
//    .MuiButton-label {
//        font-size: 12px;
//      }  }
//}
.MuiDialog-container .MuiPaper-root {
	border-radius: 10px;
}

.MuiTypography-body1 {
	line-height: 1.5;
}

.MuiAccordion-root:before {
	display: none;
}

.MuiAccordion-rounded:last-child {
	border-radius: 10px !important;
	border-color: #ff465699;
}
