@import './override';

@font-face {
	font-family: 'Tungsten';
	src: url('/fonts/Tungsten-Bold.ttf');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Valorant';
	src: url('/fonts/Valorant.ttf');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Operator Mono';
	src: url('/fonts/OperatorMono.otf');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

* {
	font-size: 14px;
	line-height: 1;
	scroll-behavior: smooth;
}
//html, body {
//	background: hsl(258, 37%, 25%) !important;
//}
#snackbar-text {
	color: #f1f1f1;
}
.background {
	position: fixed;
	z-index: -10;
	opacity: 0.9;
	overflow: hidden;
	canvas {
		width: 100%;
	}
	&::before {
		z-index: -8;
		background: #fafafa;
		opacity: 0.6;
		width: 100vw;
		height: 100vh;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
}
small {
	opacity: 0.6;
	font-size: 10px;
}

header.MuiPaper-root {
	padding: 0;
}
form i {
	font-style: normal;
	color: #e81123;
	font-size: 10px;
}

#hero {
	height: calc(100vh - 54px);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-end;
	width: fit-content;
	margin: auto;
	#xvi {
		z-index: -20;
		position: absolute;
		top: calc(50% + 54px);
		left: 50%;
		transform: translate(-50%, -50%);
		font: 400 400px 'Valorant', sans-serif;
	}
	#hero-main {
		font: 400 120px 'Valorant', sans-serif;
		color: #ffffff;
		text-align: center;
		margin: 0;
		display: flex;
		align-items: flex-start;
		sup {
			font: 900 16px 'Valorant', san-serif;
			letter-spacing: 2px;
			color: $secondary;
		}
		i {
			font: 400 120px 'Valorant', sans-serif;

			font-style: normal;
			color: $secondary;
		}
	}
	#hero-desc {
		font: 700 24px 'Rubik', monospace;
		color: $secondary;
		margin: 0;
	}
	#hero-bg {
		margin: 0;
		padding: 0;
		font: 400 750px 'Tungsten';
		position: absolute;
		top: 100px;
		right: -500px;
		color: #fafafa;
		letter-spacing: 50px;
		opacity: 0.5;
	}
}

#mobile-nav {
	display: none;
}

.splash-screen {
	z-index: 1202;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	background: transparentize($color: #0f1923, $amount: 0.5);
	backdrop-filter: blur(15px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all ease-in-out;

	img {
		height: 450px;
		width: 450px;
	}
}

#category-title {
	width: fit-content;
	margin: 20px auto;

	&::after {
		content: '';
		z-index: -1;
		top: -25px;
		display: block;
		position: relative;
		height: 20px;
		background: $secondary;
		width: 100%;
		opacity: 0.8;
	}
}

// Events
#event-card {
	display: flex;
	background-blend-mode: soft-light;
	background-repeat: no-repeat;
	background-size: 98%;
	padding: 10px;
	border-radius: 20px;
	height: 250px;
	width: 250px;
	min-width: 250px;

	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	box-shadow: inset 0 0 25px 5px rgba(0, 0, 0, 0.25);

	#card-icon {
		display: block;
		margin: auto;
		height: 150px;
		width: auto;
		transition: all 0.3s ease-in-out;
		&::after {
			display: block;
			position: relative;
			background: radial-gradient(#000, transparent);
			height: 10px;
			width: 100%;
		}
	}
	&:hover {
		background-blend-mode: normal;
		background-position: 100% center;
		//position: fixed;
		//top: 50%;
		//left: 50%;
		//transform: translate(50%, 50%) scale(2);
		#card-icon {
			transform: translateX(-5%) scale(0.995);
		}
	}
	//#card-text {
	//	// flex-basis: 0%;
	//	flex-basis: 20%;
	//
	//	overflow: hidden;
	//	height: 80%;
	//	right: 0;
	//	padding: 10px;
	//	opacity: 0.7;
	//	transition: all 0.3s ease-in-out;
	//}
}

// Page-wise Styling

#dashboard {
	b {
		color: $primary;
	}
}

#event-price {
	float: right;
	margin: 15px;
}

#category-icon {
	padding: 10px;
	background: #fafafa;
	height: 160px;
	width: 160px;
	border-radius: 50%;
}

#team {
	#title {
		width: fit-content;
		margin: 20px auto;

		&::after {
			content: '';
			z-index: -1;
			top: -25px;
			display: block;
			position: relative;
			height: 20px;
			background: $secondary;
			width: 100%;
			opacity: 0.8;
		}
	}

	#team-card {
		background: #0f1923;
		padding: 0 20px 20px;
		border-radius: 15px;
		width: 250px;
		text-align: center;
		transition: all 0.2s ease-in-out;

		#picture {
			position: relative;
			margin: auto;
			height: 150px;
			width: 150px;
			bottom: 20px;
			background: #999999;
			border-radius: 50%;
			transition: all 0.3s ease-in-out;
		}

		#name {
			font: 600 18px 'Rubik', sans-serif;
			//color: $secondary;
		}

		#post {
			opacity: .6;
		}

		&:hover, &:active {
			background: #41C3C3;

			#picture {
				transform: translateY(-20px);
			}

			#post {
				opacity: .8;

			}
		}
	}

}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	#copyright {
		color: #999;
	}

	#social {
		.Mui-IconButton svg {
			height: 20px;
		}
	}

	#links {
		a.MuiLink-root {
			margin: 10px 10px 5px;
		}
	}
}

@media only screen and (max-width: 860px) {
	#xvi {
		font-size: 200px !important;
	}
	#hero-main {
		font-size: 80px !important;

		sup {
			font-size: 14px !important;
		}

		i {
			font-size: 80px !important;
		}
	}
	#hero-desc {
		font-size: 20px !important;
	}
	#desktop-nav {
		display: none;
	}
	#mobile-nav {
		display: block;
	}

	#category-title {
		font-size: 30px;
	}
	#category-icon {
		display: none;
	}

	footer {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;

		#links {
			margin-bottom: 10px;
		}
	}
}
@media only screen and (max-width: 540px) {
	#xvi {
		font-size: 200px !important;
	}
	#hero-main {
		font-size: 50px !important;

		sup {
			font-size: 14px !important;
		}

		i {
			font-size: 50px !important;
		}
	}
	#hero-desc {
		font-size: 14px !important;
	}
	#event-card {
		background-size: 60%;
		height: 240px;
		width: 240px;
		background-blend-mode: normal;

		#card-icon {
			height: 115px;
		}

		&:hover {
			#card-icon {
				transform: scale(1);
			}
		}
	}

	::-webkit-scrollbar {
		width: 5px;
	}
}

// ScrollBar
/* width */
::-webkit-scrollbar {
	width: 7px;
	border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0f1923;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $secondary;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: transparentize($secondary, 0.25);
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
p {
	white-space: pre-wrap;
}
